.index-page
  .eyecatch-container
    .slide
      .eyecatch
        %a
          .eyecatch-image
        .eyecatch-mask
        %a
          .eyecatch-text-wrapper
            .eyecatch-text
              .eyecatch-info
                .contents
                  .robot-name
              .picks
                .picks-cover
                .labels
                  .value
                  .unit
              .title
              .meta
                .publisher
                .published
    .sub
