.contents-container
  / サイドバー
  .pick-stream.fixed-left
    .stream-container
      .user-profile-title
        %a{"data-user" => "", :href => "#"}
          .user-header
            .user-icon
              %img{alt: "", height: "50", src: "http://mitiyama.com/wp-content/uploads/2017/03/FU008_L.jpg", :width => "50"}/
            .user-info
              .user-name._ellipsised{style: "overflow: initial;"}
                渡辺  晃史
              .user-title._ellipsised{style: "overflow: initial;"}
                テックエキスパート 社外取締役
        .follow-info
          / %a{:href => "", :title => ""}
          .user-profile-following
            .follow-count 157
            .follow-caption フォロー
          / %a{:href => "", :title => ""}
          .user-profile-follower
            .follow-count 10,580
            .follow-caption フォロワー
      .timeline
        .timeline-caption
          マイニュース
          %i.fas.fa-angle-right
        .recommend-area{style: "height:22px;"}
          .recommend-morning{style: "opacity:1;"}
            朝のお勧めが届きました
      .streame
        .stream-tile
          %a.onclick
            .picker-icon
              %img.first-icon{src: "https://s.yimg.jp/images/sports/all_device/pc/soccer/ws/img/215_280/587117.jpg"}/
            .pick-info
              .picker-name 本田 圭佑
              .picked-date 1時間前
          %a
            .picker-comment It's never too late.
          .pick-news-info
            %a
              .news-title ハリル解任！後任は西野氏
            .span をPickしました。
      .streame
        .stream-tile
          %a.onclick
            .picker-icon
              %img.first-icon{src: "http://yumeijinhensachi.com/wp-content/uploads/2016/12/e94bbb1e13a542bf8591337acb3a0114-300x300.jpg"}/
            .pick-info
              .picker-name 桜井 和寿
              .picked-date 2時間前
          %a
            .picker-comment ウカスカジー
          .pick-news-info
            %a
              .news-title ハリル解任！後任は西野氏
            .span をPickしました。
      .streame
        .stream-tile
          %a.onclick
            .picker-icon
              %img.first-icon{src: "http://blog-imgs-74.fc2.com/n/o/f/nofootynolife/2015020609465536d.jpg"}/
            .pick-info
              .picker-name ハリルホジッチ
              .picked-date 3時間前
          %a
            .picker-comment 信じられない。。。
          .pick-news-info
            %a
              .news-title ハリル解任！後任は西野氏
            .span をPickしました。

  / メイン部分
  .page-content
    .index-page
      .eyecatch-container
        .slide
          .eyecatch
            %a
              .eyecatch-image
            .eyecatch-mask
            %a
              .eyecatch-text-wrapper
                .eyecatch-text
                  .eyecatch-info
                    .contents
                      .robot-name
                  .picks
                    .picks-cover
                    .labels
                      .value
                      .unit
                  .title
                  .meta
                    .publisher
                    .published
        .sub
  / ヘッダー
  .header
    .open-menu
      %i.fas.fa-bars
    .search-box-container.global
      .search-box
        %i.fas.fa-search
        .search-wrapper
          %input#global-search-box.search{ maxlength: "200", placeholder: "検索する", type: "text", value: ""}/
    %a.logo.clear-index-cache{href: "#"}
      %img.logo{alt: "ロゴ", height: "30", src: "https://newspicks.com/images/logo_type.086ed6f5.png", width: "100"}/
    .right-items
      .item.self
        %img.cover-image{alt: "", height: "50", src: "http://mitiyama.com/wp-content/uploads/2017/03/FU008_L.jpg", width: "50"}/
        .name-block
          %span.display-name 渡辺 晃史
          %span.subscription-plan 無料会員
        %span.caret
      .item.flag
        %i.fas.fa-flag
        .badge{:stlye => "display:none"}
      .item.pick
        %i.fas.fa-external-link-alt

