.comment__container__row
  .profile
    .profile__image
      = link_to 'a' do
        %img
    .profile__user
      .profile__user__names
        .profile__user__names_name 渡辺　晃史
      .profile__user__job テックエキスパート社外取締役
      .profile__user__picktime 2018年5月11日
      .dorp__down
        .dorp__down__button ：
  .comment__wrapper
    .comment いい記事だ！
    .like__panel
      .like__wrapper
        .like
          %img.like__like
          %img.like__unlike
          .like__count 144
          .like__label Likes
