.comments__container
  .form
    = form_for @pick, :url => "picks" do |f|
      %img.cover
      .form__comment
        =f.text_field :comment, class: 'form__comment__area', placeholder: 'コメントを書く(任意)'
      .form__pick
        .share シェアする
        .twitter
          %img{value: "TW"}
        .facebook
          %img{value: "FB"}
        .pick__sub 
          =f.submit 'Pick', class: 'btn'
  .hr
  .comments
    .comments--popular
      .comments--popular__header 人気Picker
      .comment__container
        =render 'picks/body'