.stream-container
  .user
    .user__profile
      .user__header
        .user__icon
          %img{alt: "", height: "50", src: "http://mitiyama.com/wp-content/uploads/2017/03/FU008_L.jpg", :width => "50"}/
        .user__info
          .user__name._ellipsised{style: "overflow: initial;"}
            渡辺  晃史
          .user__title._ellipsised{style: "overflow: initial;"}
            テックエキスパート 社外取締役
    .follow-info
      .user__profile--following
        .follow__count 157
        .follow__caption フォロー
      .use__profile--follower
        .follow__count 10,580
        .follow__caption フォロワー
    .timeline
    .timeline__caption
      マイニュース
      %i.fas.fa-angle-right
    .recommend-area{style: "height:22px;"}
      .recommend-morning{style: "opacity:1;"}
        朝のお勧めが届きました
    .stream
    .stream__tile
      %a.onclick
        .picker
        .picker__icon
          %img.first-icon{src: "https://s.yimg.jp/images/sports/all_device/pc/soccer/ws/img/215_280/587117.jpg"}/
        .pickcer__info
          .picker__info--name 本田 圭佑
          .picker__info--date 1時間前
        .picker__comment It's never too late.
      .pick__news
        .pick__news--title ハリル解任！後任は西野氏
        .pick__news--span をPickしました。
    .stream
    .stream__tile
      %a.onclick
        .picker
        .picker__icon
          %img.first-icon{src: "http://yumeijinhensachi.com/wp-content/uploads/2016/12/e94bbb1e13a542bf8591337acb3a0114-300x300.jpg"}/
        .pickcer__info
          .picker__info--name 桜井 和寿
          .picker__info--date 2時間前
        .picker__comment ウカスカジー
      .pick__news
        .pick__news--title ハリル解任！後任は西野氏
        .pick__news--span をPickしました。
    .stream
    .stream__tile
      %a.onclick
        .picker
        .picker__icon
          %img.first-icon{src: "http://blog-imgs-74.fc2.com/n/o/f/nofootynolife/2015020609465536d.jpg"}/
        .pickcer__info
          .picker__info--name ハリルホジッチ
          .picker__info--date 3時間前
        .picker__comment 信じられない。。。
      .pick__news
        .pick__news--title ハリル解任！後任は西野氏
        .pick__news--span をPickしました。
